*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    line-height:1.15;
    font-family: sans-serif,Arial;
    background-color:#FFE4E1; ; 
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 200vh; 
}

.container {
    background-color:#fff;
    padding: 50px 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 433%; 
    max-width:500px;
    text-align: center;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    margin-bottom: 30px;
    text-align: left;
}
.form-group input[type="tel"]{
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 10px;
}
.form-group select {
    width: 120px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    background-color: #f9f9f9;
}
.continue-btn {
    width: 80%;
    padding: 15px;
    font-size: 1.1em;
    border:none;
    border-radius: 5px;
    background-color: #b02db9;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s; 
}

.continue-btn:hover{
    background-color: #e088d5; 
}
footer{
    width:100%;
    text-align:centre;
    margin-top:auto;
    padding:20px 0;
    background-color:#fff;
    position:relative;
}
.terms-and-conditions {
    margin-top: 15px;
    font-size: 12px;
    color: #8c8484b7; 
}

.terms-and-conditions a {
    color: #e55a9daf; 
    text-decoration: none;
}

